.categories {
}

.category{
    
}

.entry {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 4fr;
    gap: 1rem;
}

.choice-button {
    font-size: 1.3rem;
    align-content: center;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.reason {
    border: gray 2px solid;
    resize: none;
    display: flex;
}

.reason[contenteditable="true"] {
}